@import "theme.css";

window {
  border-radius: 8;
  opacity: 0.97;
  border: 1px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'CaskaydiaMono Nerd Font', monospace;
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
