include "modules/environment.kdl"
include "modules/input.kdl"
include "modules/outputs.kdl"
include "modules/layout.kdl"
include "modules/window-rules.kdl"
include "modules/binds.kdl"
include "modules/startup.kdl"
include "modules/idle.kdl"
include "modules/wallpaper.kdl"
// include "modules/unfancy.kdl"
include "modules/firstboot.kdl"
