include "environment.kdl"
include "input.kdl"
include "outputs.kdl"
include "wallpaper.kdl"
include "layout.kdl"
include "window-rules.kdl"
include "binds.kdl"
include "startup.kdl"
// include "idle.kdl"
