prefer-no-csd

environment {
    QT_STYLE_OVERRIDE "kvantum"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    OZONE_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    GTK_CSD "0"
    NEWT_COLORS "root=white,black
        border=black,lightgray
        window=lightgray,lightgray
        shadow=black,gray
        title=black,lightgray
        button=black,gray
        actbutton=black,lightgray
        compactbutton=black,lightgray
        checkbox=black,lightgray
        actcheckbox=lightgray,black
        entry=black,lightgray
        disentry=gray,lightgray
        label=black,lightgray
        listbox=black,lightgray
        actlistbox=black,white
        sellistbox=lightgray,black
        actsellistbox=lightgray,black
        textbox=black,lightgray
        acttextbox=black,white
        emptyscale=,gray
        fullscale=,white
        helpline=white,black
        roottext=lightgrey,black"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

