spawn-at-startup "m8c"
spawn-sh-at-startup "qpwgraph -a -x -m ~/.config/m8c.qpwgraph"
spawn-sh-at-startup "pw-lat 128 0"

window-rule {
	match title=r#"M8C$"#
	open-fullscreen true
}
input {
	disable-power-key-handling
}
